$fontRaleway: 'Raleway', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontPopins: 'Poppins';
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 400;

$marginCenter: 0 auto;

$colorWhite: #fff;
$colorBlack: #000000;
$colorBlue: #40A3F8;
